.navbar {
  height: 50px;
  flex: 8;
  border-bottom: 50px solid;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  .warpper {
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    .items {
      display: flex;
    }
  }
}
